
html,
 body {
    width: 100%;
    height: 100%;   
     background: url(images/regbg.jpg) no-repeat center center fixed; 
     
    /* -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover; */
    background-size: cover;

}
h1
{
color: rgb(238, 241, 42);
text-shadow: blueviolet;
}
label
{
    color: rgb(238, 241, 42);
}